{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About Us - Taskmate</title>
{% endblock title %}

{% block content %}
<div class ="container">
     
    <div class="row mt-5">
    <div class="col-lg-4">
      <img src="{% static 'images/logoAbout.png'%}" alt="About Logo" class="rounded-lg" width="550" height="490">
    </div>
    <div class="col-lg-4">
      
    </div>
    <div class="col-lg-4">
     </br>
     <center><p class="h1 mt-5" style="color:white">Taskmate's Todo application is here to help you keep track of all your</p><center>
     <center><p class="h1" style="color:white">daily activities so you can keep your life more organzied</p><center>
    </div>
  </div>
  <div class="row mt-5">
  <div class="col-md-10 offset-md-1">
    <!--
    <center><p class="h1" style="color:orange">Quick and easy to use, Anytime, Anywhere !</p><center>
    <center><p class="h2" style="color:white">Plan your day better, Get your life organized</p><center>
    <center><p class="h5" style="color:white">Taskmate lets you keep track of your tasks in one place</p><center>-->
  </div>
  </div>

    </div>
{% endblock content %}